@import url("https://fonts.googleapis.com/css?family=Arvo");

// base style variables
$background-color:#808080;
$header-font-color:#FF4433;
$base-font-size:12px;
$font-faces: arial,verdana,sans-serif;

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

body {
    @include display-flex();
    padding:0;
    margin:0;
    justify-content: center;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	background: $background-color;
	color: #000000;	
}